.inputs{
  width: 75vw;
  height: 3vh;
  background: #efd28d;
  display: flex;
  color: #a30000;
  border-color: black;
  transition: 0.2s;
}
.input{
  height: 3vh;
  width: 30%;
  background: #efd28d;
  color: #a30000;
  border-color: black;
}
.button{
  height: 3.7vh;
  width: 10%;
  background: #a30000;
  font-size: 80%;
  color: #efd28d;
  border-color: black;
  transition: 0.2s;
}
.button:hover{
  background: #7a0101;
}